@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
}

/* :: selection tag chnages the text and background color on selection  */
*::selection{     
    background: var(--orange);
    color: black;
}

html{
    font-size: 62.5%;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: scroll;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
  padding:2rem 9%;
}
.heading{
  /* text-align: center; */
  position: relative;
  left: 530px;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:#F4869C;
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}
/* content .btn {
  display: inline-block;
  margin-top: 2rem;
  background:#3D84A8;
  color:#fff;
  padding:.8rem 3rem;
  border:.2rem solid #3D84A8;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.7rem;
}

content .btn:hover{
  background:#fff;
  color: #222;
} */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: whitesmoke;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .navbar a{
    color: #3D84A8;
    font-size: 2rem;
    margin: 0.8rem;
}
header .navbar a:hover {
    color:green;
}
header .icons i{
    font-size: 2.5rem;
    color:#3D84A8;
    cursor:pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: crimson;
}

header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding:1.5rem 2rem;
    background : whitesmoke;
    border-top: .1rem solid  whitesmoke;
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color:#333;
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color:#3D84A8;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
  
header .search-bar-container label:hover{
    color:crimson;
}


#menu-bar{
    color:#3D84A8;
    border:.1rem solid #3D84A8;
    border-radius: .5rem;
    font-size: 3rem;
    padding:.5rem 1.2rem;
    cursor: pointer;
    display: none;
  }

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  color:#fff;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  font-size: 2.5rem;
  color:#fff;
  padding:.5rem 0;
}

.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.home .controls{
  padding:1rem;
  border-radius: 5rem;
  background:rgba(0,0,0,.7);
  position: relative;
  top:10rem;
}

.home .controls .vid-btn{
  height:2rem;
  width:2rem;
  display: inline-block;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  margin:0 .5rem;
}

.home .controls .vid-btn.active{
  background:#3D84A8;
}

































/* media queries  */

@media (max-width:1200px){

    html{
      font-size: 55%;
    }
  
  }
  
  @media (max-width:991px){
  
    header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }
  
  }
  
  @media (max-width:768px){
  
    #menu-bar{
      display: initial;
    }
  
    header .navbar{
      position: absolute;
      top:100%; right:0; left: 0;
      background: #333;
      border-top: .1rem solid rgba(255,255,255,.2);
      padding:1rem 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    header .navbar a{
      display: block;
      border-radius: .5rem;
      padding:1.5rem;
      margin:1.5rem 0;    
      background:#222;
    }
  
  }
  
  @media (max-width:450px){
  
    html{
      font-size: 50%;
    }
  
    .heading span{
      font-size: 2.5rem;
    }
  
    .contact .row form .inputBox input{
      width:100%;
    }
  
  }  